#Translate, #Copy
{
    border :1px solid gray;
    background-color: rgba(0, 0,0,0);
    color: gray;
    padding: 20px 385px;

    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#Translate:hover, #Copy:hover
{
    background-color: rgba(152, 27, 255, 0.815); 
    color: white;
    border :1.5px solid rgba(152, 27, 255, 0.815);
}

#koreanText,#JapaneseText
{
    border :1px solid rgba(152, 27, 255, 0.815);
    color: black;
    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    resize: none;
    font-size: 20px;

    margin-left: 50px;
    padding: 5px;

}

h5
{
    font-size: 20px;
    margin-left: 400px;
}