.content
{
    border :1px solid rgba(152, 27, 255, 0.815);
    color: black;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    resize: none;
    font-size: 20px;

    margin-left: 60px;
    margin-top: 30px;

    outline: none;
    box-shadow: 0 0 3px rgba(152, 27, 255, 0.815);

    transition: .5s;
}

.content:focus
{
    outline: none;
    box-shadow: 0 0 7px rgba(152, 27, 255, 0.815);
}

h5
{
    font-size: 20px;
    margin-left: 400px;
}

.container-Copy
{
    display: inline-block;
    position: relative;
}

.container-Copy textarea
{
    box-sizing: border-box;
    display: block;
}

.container-Translate
{
    display: inline-block;
    position: relative;
}

.container-Translate textarea
{
    box-sizing: border-box;
    display: block;
}

.DeleteButton
{
    border :0.0px solid gray;
    background-color: white;

    position: absolute;
    top: 37.0%;
    right: 0.25%;


    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;

    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;

    font-size: 20px;

    transition: .5s;
}

.DeleteButton:hover
{
    background-color: rgba(152, 27, 255, 0.815); 
    color: white;
    border :0.0px solid rgba(152, 27, 255, 0.815);
}
.txtbutton
{
    border :1.5px solid gray;
    background-color: rgba(0, 0,0,0);
    color: gray;

    transition: .5s;

    position: absolute;
    bottom: 0%;
    right: 0%;
}

.txtbutton:hover
{
    background-color: rgba(152, 27, 255, 0.815); 
    color: white;
    border :1.5px solid rgba(152, 27, 255, 0.815);
}
